    animations {
        workspace-switch {
            spring damping-ratio=1.5 stiffness=500 epsilon=0.0001
        }
        horizontal-view-movement {
            spring damping-ratio=1.5 stiffness=500 epsilon=0.0001
        }
        window-movement {
            spring damping-ratio=1.5 stiffness=500 epsilon=0.0001
        }
        window-resize {
            spring damping-ratio=1.5 stiffness=500 epsilon=0.0001
        }

        window-open {
            duration-ms 400
            curve "ease-out-cubic"
        }
        window-close {
            duration-ms 400
            curve "ease-out-cubic"
        }
        screenshot-ui-open {
            duration-ms 400
            curve "ease-out-cubic"
        }
    }
