// https://github.com/niri-wm/niri/wiki/Configuration:-Outputs

output "HP Inc. HP X34 6CM1380CYV" {
    mode "3440x1440@165.000"
    position x=0 y=0

    layout {
        // center-focused-column "always"
        center-focused-column "on-overflow"
        always-center-single-column
    }

    hot-corners {
        off
    }
}

output "Dell Inc. DELL S2721DGF 73SBP83" {
    mode "2560x1440@165.080"
    transform "270"
    position x=3440 y=-800

    layout {
        default-column-width { proportion 1.0; }
    }

    hot-corners {
        off
    }
}
