// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
    mouse {
        accel-profile "flat"
    }

    focus-follows-mouse max-scroll-amount="0%"

    keyboard {
        repeat-delay 200
    }
}
