binds {
    // ── Niri Keybindings ---
    // https://github.com/YaLTeR/niri/wiki/Configuration:-Key-Bindings

    // ─── Custom Setup ───
    Ctrl+MouseMiddle                    { toggle-overview; }
    Ctrl+Grave                          { toggle-overview; }

    // Mouse Navigation
    Shift+WheelScrollUp                 { focus-column-left; }
    Shift+WheelScrollDown               { focus-column-right; }
    Ctrl+WheelScrollUp                  { focus-workspace-up; }
    Ctrl+WheelScrollDown                { focus-workspace-down; }

    // Mouse Realocation
    Alt+Shift+WheelScrollUp             { move-column-left; }
    Alt+Shift+WheelScrollDown           { move-column-right; }
    Alt+Ctrl+WheelScrollUp              { move-column-to-workspace-up; }
    Alt+Ctrl+WheelScrollDown            { move-column-to-workspace-down; }

    Mod+R                               { switch-preset-column-width; }
    Mod+F                               { expand-column-to-available-width; }
    Mod+M                               { fullscreen-window; }
    Mod+Q                               { close-window; }

    // ─── Noctalia Keybindings ───
    // https://docs.noctalia.dev/getting-started/keybinds/

    // ─── Applications ───
    Mod+T                               hotkey-overlay-title="Open Terminal: Alacritty" { spawn "alacritty"; }
    Mod+Space                           hotkey-overlay-title="Open App Launcher: noctalia launcher" { spawn-sh "qs -c noctalia-shell ipc call launcher toggle"; }
    Mod+B                               hotkey-overlay-title="Open Browser: chromium" { spawn "chromium"; }
    Mod+ALT+L                           hotkey-overlay-title="Lock Screen: noctalia lock" { spawn-sh "qs -c noctalia-shell ipc call lockScreen lock"; }
    Mod+Shift+Q                         hotkey-overlay-title="Session Menu: noctalia sessionMenu" { spawn-sh "qs -c noctalia-shell ipc call sessionMenu toggle"; }

    // Please choose your own file manager.
    Mod+E                               hotkey-overlay-title="File Manager: Nautilus" { spawn "nautilus"; }

    // ─── Media Controls ───
    XF86AudioRaiseVolume                allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume increase"; }
    XF86AudioLowerVolume                allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume decrease"; }
    XF86AudioMute                       allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume muteOutput"; }
    XF86AudioMicMute                    allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume muteInput"; }
    XF86AudioNext                       allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media next"; }
    XF86AudioPrev                       allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media previous"; }
    XF86AudioPlay                       allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media playPause"; }
    XF86AudioPause                      allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media playPause"; }

    // ─── Layout Controls ───
    Mod+Minus                           { set-column-width "-10%"; }
    Mod+Equal                           { set-column-width "+10%"; }
    Mod+Shift+Minus                     { set-window-height "-10%"; }
    Mod+Shift+Equal                     { set-window-height "+10%"; }


    // ─── Screenshots ───
    CTRL+Shift+1                        { screenshot; }
    CTRL+Shift+2                        { screenshot-screen; }
    CTRL+Shift+3                        { screenshot-window; }

    // ─── Emergency Escape Key ───
    // Use this when a fullscreen app blocks your keybinds.
    // It disables any active keyboard shortcut inhibitor, restoring control.
    Mod+Shift+ESCAPE                          allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // ─── Exit / Power ───
    CTRL+ALT+Delete                     { quit; } // Also quits Niri
    Mod+Shift+P                         { power-off-monitors; } // Turn off screens (useful for OLED or privacy)
}
