binds {
    // ── Niri ---
    // https://github.com/YaLTeR/niri/wiki/Configuration:-Key-Bindings

    Ctrl+MouseMiddle                    { toggle-overview; }
    Ctrl+Grave                          { toggle-overview; }

    // Focus Navigation
    Shift+WheelScrollUp                 { focus-column-left; }
    Shift+WheelScrollDown               { focus-column-right; }
    Ctrl+WheelScrollUp                  { focus-workspace-up; }
    Ctrl+WheelScrollDown                { focus-workspace-down; }

    // Window Realocation
    Ctrl+Shift+W                        { move-column-to-workspace-up; }
    Ctrl+Shift+A                        { move-column-left-or-to-monitor-left; }
    Ctrl+Shift+S                        { move-column-to-workspace-down; }
    Ctrl+Shift+D                        { move-column-right-or-to-monitor-right; }

    Mod+R                               { switch-preset-column-width; }
    Mod+F                               { expand-column-to-available-width; }
    Mod+M                               { fullscreen-window; }
    Mod+Q                               { close-window; }

    // ─── Noctalia ───
    // https://docs.noctalia.dev/getting-started/keybinds/

    // ── App Launching ──
    CTRL+F12                            { spawn-sh "qs -c noctalia-shell ipc call launcher toggle"; }

    Mod+T                               { spawn "alacritty"; }
    Mod+B                               { spawn "zen-browser"; }
    Mod+S                               { spawn "chromium" "--app=https://open.spotify.com"; }
    Mod+Z                               { spawn "zeditor"; }
    Mod+E                               { spawn "nautilus"; }

    Mod+ALT+L                           { spawn-sh "qs -c noctalia-shell ipc call lockScreen lock"; }
    Mod+Shift+Q                         { spawn-sh "qs -c noctalia-shell ipc call sessionMenu toggle"; }



    // ─── Media Controls ───
    XF86AudioRaiseVolume                allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume increase"; }
    XF86AudioLowerVolume                allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume decrease"; }
    XF86AudioMute                       allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume muteOutput"; }
    XF86AudioMicMute                    allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume muteInput"; }
    XF86AudioNext                       allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media next"; }
    XF86AudioPrev                       allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media previous"; }
    XF86AudioPlay                       allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media playPause"; }
    XF86AudioPause                      allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media playPause"; }

    // ─── Layout Controls ───
    Mod+Minus                           { set-column-width "-10%"; }
    Mod+Equal                           { set-column-width "+10%"; }
    Mod+Shift+Minus                     { set-window-height "-10%"; }
    Mod+Shift+Equal                     { set-window-height "+10%"; }


    // ─── Screenshots ───
    CTRL+Shift+1                        { screenshot; }
    CTRL+Shift+2                        { screenshot-screen; }
    CTRL+Shift+3                        { screenshot-window; }

    // ─── Emergency Escape Key ───
    // Use this when a fullscreen app blocks your keybinds.
    // It disables any active keyboard shortcut inhibitor, restoring control.
    Mod+Shift+ESCAPE                          allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // ─── Exit / Power ───
    CTRL+ALT+Delete                     { quit; } // Also quits Niri
    Mod+Shift+P                         { power-off-monitors; } // Turn off screens (useful for OLED or privacy)
}
