    layout {
        background-color "transparent"
        gaps 12

        preset-column-widths {
            proportion 0.25
            proportion 0.5
            proportion 0.75
        }

        focus-ring {
            off
        }
    }
