    layout {
        background-color "transparent" // <- needed for noctalia-shell to set wallpaper

        gaps 12

        center-focused-column "on-overflow"
        always-center-single-column

        preset-column-widths {
            proportion 0.25
            proportion 0.5
            proportion 0.75
        }

        focus-ring {
            off
        }

        border {
            on
            width 1
            active-color "#888"
            inactive-color "#4D4D4D"
        }
    }
