layout {

    focus-ring {
        active-color   "#ec9960"
        inactive-color "#291d14"
        urgent-color   "#964812"
    }

    border {
        active-color   "#ec9960"
        inactive-color "#291d14"
        urgent-color   "#964812"
    }

    shadow {
        color "#291d1470"
    }

    tab-indicator {
        active-color   "#ec9960"
        inactive-color "#953f05"
        urgent-color   "#964812"
    }

    insert-hint {
        color "#ec996080"
    }
}

recent-windows {
    highlight {
        active-color "#ec9960"
        urgent-color "#964812"
    }
}
